/* ..................
fonts  
...................*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------------
--------------------------------
common styles or utilities 
----------------------------------------
-----------------------------------*/

body{
    font-family: 'Poppins',
    sans-serif;
    margin: 0;

    /* ------------------------
---------------
Header part CSS style starts 
-------------------------------
-----------------------*/
}
.header-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #2D25A0;
    padding-left: 156px;
    padding-right: 140px;
    padding-top:153px ;
    padding-bottom:100px ;
 }


h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
   width: 470px;
 

}
a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
   padding: 10px 30px;
   font-size: 16px;
   
   
}

.header-image img{
    width: 556.01px;
    height: 438px;

}

/* ------------------------
---------------
Player's part CSS style starts 
-------------------------------
-----------------------*/


/* ------------------------
---------------
Player's part CSS style starts 
-------------------------------
-----------------------*/
.player-container{
    display: grid;
   justify-items: center;
   margin-bottom: 100px;
   
}

.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
    

}
.top-player {
    width: 300px;
    height: 474px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);

}

.player img{
    width: 300px;
    height: 246px;
    align-items: center;
    
}
h3{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 0;
}
p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------
---------------
Player's part CSS style ends 
-------------------------------
-----------------------*/


/* ------------------------
---------------
Match high-light part CSS style starts 
-------------------------------
-----------------------*/
.high-light-container{
      display: flex;
      justify-content: center;
      justify-content: space-around; 
      padding-left: 156px;
      padding-right: 140px;
      padding-top:65px;
    margin-bottom:158px
      
    

}
.high-light-heading{
    color: #0A0826;
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 700;
    
}
.high-light-details{
    padding-right: 100px;
    padding-left: 100px;
}
.high-light-paragraph{
    padding-right: 80px;
    margin-bottom: 40px;
    margin-top: 0;
}
.high-light-photo img{
    width: 567px;
    height: 427px;
}
/* ------------------------
---------------
Match high-light part CSS style ends 
-------------------------------
-----------------------*/

/* ------------------------
---------------
Footer part CSS style Starts 
-------------------------------
-----------------------*/
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.social-media-icon a{
    background-color: #969BAB;
     font-weight: 00;
     padding: 0px 5px;
     border-radius: 10%;
     margin: 8px;
     opacity: 60%;
    
}
.copy-right-paragraph{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
/* ------------------------
---------------
Footer part CSS style ends 
-------------------------------
-----------------------*/

/* 
--------------------
Media Queries style starts
-------------------------------
 */

 @media only screen and (max-width:688px) {
     

    
 }