/* ..................
fonts  
...................*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* ------------------------
--------------------------------
common styles or utilities 
----------------------------------------
-----------------------------------*/

body{
    font-family: 'Poppins',
    sans-serif;
    margin: 0;
    background-color: #F9F9F9;

    

}
    /* ------------------------
---------------
Header part CSS style starts 
-------------------------------
-----------------------*/


/* banner part starts  */

.header-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #5F939A;
   padding-left: 100px;
   padding-right: 80px;
    padding-top:153px ;
    padding-bottom:100px ;
 }
h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
   width: 470px;
}

a{
    text-decoration: none;
  
    background-image: linear-gradient(blue, red);
    color: #FFFFFF;
    font-weight: 500;
   padding: 10px 30px;
   font-size: 16px;
   border-radius: 10px;
   
}
.header-click{
    position: absolute;
    margin-top: -100px;
    margin-right: -1000px;
}
.click:hover {
    color: chartreuse;
    font-size: 2em;
    transition: .6s;
}

.header-image:hover{
   transition: .5s;
   transform: rotate(30deg);
   height: 350px;
   width: 420px;
 

}
.header-image img{
    width: 556.01px;
    height: 438px;

}

.icon{
    position: relative;
    top: -100px;
      

}
/* banner part ends  */


    /* ------------------------
---------------
Header part CSS style ends 
-------------------------------
-----------------------*/


/* ------------------------
---------------
Player's part CSS style starts 
-------------------------------
-----------------------*/


.player-container{
    display: grid;
   justify-items: center;
   margin-bottom: 100px;
   
}

.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
    

}
.top-player {
    width: 300px;
    height: 474px;
    background-color: #E8F0F2;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);

}

.player img{
    width: 300px;
    height: 246px;
    align-items: center;
    
}
h3{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 0;
}
p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------
---------------
Player's part CSS style ends 
-------------------------------
-----------------------*/


/* ------------------------
---------------
Match high-light part CSS style starts 
-------------------------------
-----------------------*/
.high-light-container{
      display: flex;
      justify-content: center;
      justify-content: space-around; 
      padding-left: 156px;
      padding-right: 140px;
      padding-top:65px;
    margin-bottom:118px
      
    

}
.high-light-heading{
    color: #0A0826;
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 700;
    
}
.high-light-details{
    padding-right: 100px;
    padding-left: 100px;
}
.high-light-paragraph{
    padding-right: 80px;
    margin-bottom: 40px;
    margin-top: 0;
}
.high-light-photo img{
    width: 567px;
    height: 427px;
}
/* ------------------------
---------------
Match high-light part CSS style ends 
-------------------------------
-----------------------*/




 /* ******************************************
***********************************************
bonus part styling starts  
******************************************
************************************************ */


.bonus-part{
    margin-bottom: 60px;
    background-color: darkblue;
}

.bonus{
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------
---------------
Footer part CSS style Starts 
-------------------------------
-----------------------*/
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.social-media-icon a{
    background-color: #969BAB;
     font-weight: 00;
     padding: 0px 5px;
     border-radius: 10%;
     margin: 8px;
     opacity: 60%;
    
}
.copy-right-paragraph{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
/* ------------------------
---------------
Footer part CSS style ends 
-------------------------------
-----------------------*/

/* 
--------------------
Media Queries style starts
-------------------------------
 */

 @media only screen and (max-width:688px) {
     
/* body part starts  */
body{
    background-color: #F9F9F9;
}

/* body part starts  */


    /* header part strats */

    .header-click {
       position: absolute;
       margin-top: -690px;
       margin-left: 280px;
       height: 10px;
       font-size: 10px;
       width: 40px;
}

h1{
    width: 278px;
    font-size: 38px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 60px;
}  
.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #5F939A;
    padding-left: 16px;
    padding-top: 25px;
    flex-direction: column;
    width: 360px;
    height: 695px;
}

.header-image img {
   width: 329px;
   height: 259.17px;
   padding-top: 50px;
}
/* header part ends */

/* Player part starts  */
.player-container{
    margin-bottom: 50px;
}

.all-players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}
/* Player part ends  */

/* high-light part starts  */

.high-light-container {

    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
}
.high-light-details{
    width: 329px;
    padding-left: 60px;
}
.high-light-heading{
        color: #0A0826;
        font-size: 30px;
        margin-bottom: 0;
        font-weight: 700;
        width: 294px;
        height: 80px;
    }
    .high-light-paragraph{
        font-size: 16px;
       position: static;
       width: 329px;
       height: 143px;
       left: 0px;
       top: 88px;
       margin-bottom: 0;
       padding-top: 10px;
       padding-right: 0;
    }
    .high-light-photo img {
        width: 350px;
        height: 248px;
        padding-top: 40px;
    }
    /* high-light part ends  */

/* Bonus part starts  */

.bonus-part {
    margin-bottom: 60px;
    background-color: none;
}

.bonus {
    display: flex;
    justify-content: space-evenly;
}

.bonus-button {
    text-decoration: none;

    background-image: linear-gradient(blue, red);
    color: #FFFFFF;
    font-weight: 300;
    padding: 2px 15px;
    font-size: 8px;
    border-radius: 10px;
    width: 20px;

}
.bonus-button:hover{
    font-size:12px ;
}

/* Bonus part ends  */

/* Footer part starts  */

.footer-container{
    margin-bottom: 0px;
}

.logo img {
    width: 200px;
    height: 70px;
}
/* Footer part ends  */
}

 